
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Kullanıcıların kendi belgelerini ve diğer kullanıcıları okumasına izin ver
    match /users/{userId} {
      allow read: if request.auth != null;
      allow write: if request.auth.uid == userId;
    }

    // Giriş yapmış kullanıcıların oda oluşturmasına ve okumasına izin ver
    match /rooms/{roomId} {
      allow read, create: if request.auth != null;
      
      // Odanın yaratıcısının odayı silmesine izin ver
      allow delete: if request.auth != null && get(/databases/$(database)/documents/rooms/$(roomId)).data.creatorId == request.auth.uid;

      // Giriş yapmış kullanıcıların mesajları okumasına ve yazmasına izin ver
      match /messages/{messageId} {
        allow read, create: if request.auth != null;
      }
    }
  }
}
